beautifulsoup4==4.6.3
gensim==3.7.1
implicit==0.3.6
lightfm==1.15
matplotlib==3.0.2
nltk==3.4
numpy==1.14.5
pandas==0.23.3
pickleshare==0.7.4
progress==1.4
pytest==4.1.1
pytest-cov==2.6.1
python-dateutil==2.7.3
requests==2.21.0
scikit-learn==0.19.2
scikit-optimize==0.5.2
scipy==1.1.0
sklearn==0.0
torch==1.0.1.post2
torchvision==0.2.2
urllib3==1.24.2
hyperopt==0.1.2
